@import './helpers/config.scss';
@import './Components/components.scss';
@import './layout/navigation.scss';

* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Gelasio', serif;
    font-size: 48px;
    color: $HeadingGrey;
    letter-spacing: -2.38px;
    line-height: 32px;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $HeadingGrey;
    font-size: 42px;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $SubGrey;
    letter-spacing: -.5px;
    font-weight: 700;
}

h4 {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: $whiteText;
}


p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $SubGrey;
    font-size: 18px;
}

li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: $whiteText;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.app_container {
    display: grid;
    grid-template-columns: 310px calc(100% - 310px);
    grid-auto-rows: 100vh;
}

.center_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_container {
    width: 60%;
    height: inherit;
    margin: 0 auto;
}

.container {
    height: 100%;
    background-color: $BG;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
}

.home_app_container {
    height: 100%;
    width: 100%;
    background-color: $Background;

    h1 {
        text-align: center;
    }
}


/* Something */

.welcome_page {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header_tagline {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        z-index: 1;
    }

    .header_tagline>* {
        padding: 10px;
    }

    .app_preview_image {
        height: fit-content;
        padding: 50px;
        z-index: 1;

        img {
            width: 100%;
            border-radius: 20px;
        }

    }



    span {
        font-size: 72px;
        font-style: italic;
        line-height: 100px;
    }


    input {
        width: 200px;
        height: 50px;
        border-radius: 22px;
        border: none;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
        font-weight: 500;
        color: #181818;
        font-size: 16px;
    }

    input:hover {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        cursor: pointer;
    }
}


.center_center {
    display: flex;
    align-items: center;
    flex-direction: row;
}



.shape_style {

    background: #F1F3F6;
    box-shadow: rgba(0, 0, 0, 0.05) -3px 3px 6px, rgba(0, 0, 0, 0.055) -20px 20px 55px, rgba(255, 255, 255, 0.6) -2px 2px 2px 1px inset, rgba(255, 255, 255, 0.4) 2px 2px 3px 0px inset, rgba(0, 0, 0, 0.05) 1px 1px 2px 0px inset;
    border: 1px solid rgba(255, 255, 255, .05);
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.rectangle {
    width: 300px;
    height: 300px;
}

.BG_SHAPES {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    :first-child {
        position: relative;
        left: 25%;
    }

    :nth-child(2) {
        position: absolute;
        right: 25%;
        rotate: 45deg;
        transform: rotate(-55deg);
        border-radius: 22px;
    }
}




/* Feature */

.feature_container {
    width: 50%;
    height: 700px;
    align-self: flex-end;
    border-radius: 22px;
    margin-bottom: 50px;

    .inner_container {
        width: 90%;
    }

    .features {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    div {
        padding: 20px 20px 20px 0px;
    }


    .i_features {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 50% 50%;

        .font_icon {
            grid-column: 1;
            grid-row: 1/2;
        }

        h3 {
            grid-column-start: 2;
            grid-row: 1;
            text-align: left;
        }

        p {
            grid-column: 2;
            grid-row: 2;
            text-align: left;
            width: 70%;
        }

    }
}



/*/ Footer /*/



footer {
    width: 100%;
    height: 300px;
    background-color: $Background;

    img {
        width: 150px;
    }
}

.footer_hr {
    border-top: 1px $SubGrey solid;
}


.footer_nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
        padding: 50px;
    }

    li {
        padding: 5px;
    }

    a {
        text-decoration: none;
        color: $SubGrey;
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
    }

}