@import './helpers/config.scss';
@import './Components/components.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './pages/home.scss';
@import './pages/pages.scss';
@import './layout/dashboard.scss';
@import './layout/hamNav.scss';
@import './layout/animations.scss';

* {
    padding: 0;
    margin: 0;
    outline: none;
}

h1 {
    font-family: $headingFont;
    font-weight: 700;
    color: $darkGrey;
    line-height: 82px;
    font-size: 68px;
    line-height: 68px;
    letter-spacing: .05em;
}


h2 {
    font-family: 'Gelasio', serif;
    font-weight: 700;
    font-size: 62px;
    color: $HeadingGrey;
    letter-spacing: -2.38px;
    line-height: 58px;
}

h3 {
    font-family: 'Gelasio', serif;
    color: $whiteText;
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $HeadingGrey;
    font-size: 24px;
    font-weight: 400;
}

h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: $orange;
    letter-spacing: 0;
}

h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $HeadingGrey;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: normal;
}


p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $heading;
    letter-spacing: 0;
    line-height: 37px;
}

li {
    list-style-type: none;
    display: inline;

}

a {
    text-decoration: none;
}

nav a {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    padding: 14px;
    color: $navGrey;
    display: inline-block;
}

.app_container {
    width: 100%;
    height: 100vh;
    background-color: #FDFDFD;
}

.center_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_container {
    width: 70%;
    margin: 0 auto;
}

.container {
    height: 100%;
    background-color: $BG;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
}


.section_container {
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}


hr {
    width: 50px;
    border: none;
    border-bottom: 2px solid $HeadingGrey;
    ;
}


/* Logout */

.section_logout {
    display: flex;
    height: calc(100vh - 150px);
    flex-direction: column;
    align-items: center;
}