.features {
    .f_heading {
        text-align: center;
    }
    .features_individual{
        height: fit-content;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
    }

    .feature_item {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }


}