.welcome_page {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        height: calc(100vh - 125px);
        width: 100%;

        >* {
            position: relative;
            top: 20%;
        }

        .inner_container {
            display: flex;
            flex-direction: row;
        }


        .header_text {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .header_small {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            
            >* {
                padding: 10px 0px;
            }

            hr {
                margin-left: 50px;
            }
        }



        .header_text {
            width: 50%;
            height: fit-content;
        }
    }


    .app_preview_image {
        padding: 50px;
        z-index: 1;

        img {
            width: 100%;
            border-radius: 12px;
        }

    }

    input {
        width: 200px;
        height: 50px;
        border: none;
        background-image: linear-gradient(90deg, #FFB677 0%, #FF8364 100%);
        border-radius: 24px;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
        font-weight: normal;
        color: $whiteText;
        font-size: 15px;
        padding: 0px !important;
    }

    input:hover {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC 100%);
        cursor: pointer;
    }
}


.center_center {
    display: flex;
    align-items: center;
    flex-direction: row;
}



.shape_style {
    background: #F1F3F6;
    box-shadow: rgba(0, 0, 0, 0.05) -3px 3px 6px, rgba(0, 0, 0, 0.055) -20px 20px 55px, rgba(255, 255, 255, 0.6) -2px 2px 2px 1px inset, rgba(255, 255, 255, 0.4) 2px 2px 3px 0px inset, rgba(0, 0, 0, 0.05) 1px 1px 2px 0px inset;
    border: 1px solid rgba(255, 255, 255, .05);
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.rectangle {
    width: 300px;
    height: 300px;
}

.BG_SHAPES {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    :first-child {
        position: relative;
        left: 25%;
    }

    :nth-child(2) {
        position: absolute;
        right: 25%;
        rotate: 45deg;
        transform: rotate(-55deg);
        border-radius: 22px;
    }
}


/* Feature */

.feature_container {
    width: 55%;
    height: 700px;
    align-self: flex-end;
    border-radius: 12px;
    margin-bottom: 50px;

    .inner_container {
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    .features {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding-top: 50px;
    }

    .i_features {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 10% 90%;

        .font_icon {
            grid-column: 1;
            grid-row: 1/2;
        }

        h3 {
            grid-column-start: 2;
            grid-row: 1;
        }

        p {
            grid-column: 2;
            grid-row: 2;
            width: 70%;
        }

    }
}