header {
    width: 100%;
    height: 875px;
    background-color: $BackgroundColor;

    .inner_container {
        position: relative;
        top: 20%;
        display: flex;
        justify-content: center;

        h1 {
            text-align: center;
        }

        .header_text {
            display: flex;
            flex-direction: column;
            align-items: center;

            * {
                padding: 10px 0px;
            }

            h6 {
                padding-top: 20px;
                text-align: center;
            }

            .header_small {
                display: flex;
                flex-direction: row;
                align-items: center;


                hr {
                    margin-left: 50px;
                    padding: 0 !important;
                    border-bottom: 1px solid black !important;
                }
            }
        }


        input {
            width: 200px;
            height: 50px;
            border: none;
            background-color: #191C1F;
            background-image: linear-gradient(90deg, #FFB677 0%, #FF8364 100%);
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
            font-weight: normal;
            font-size: 15px;
            margin-top: 15px;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size .5s, color .5s;
            color: $BackgroundColor;
        }

        input:hover {
            cursor: pointer;
            background-size: 100% 100%;
        }

        .header_main {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}


.absolute_blob {
    position: absolute;
    top: 0;
    left: 0;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        height: 60%;
        max-width: 90%;
        animation: move 10s ease-in-out infinite;
        transform: translate(50%, 50%);
    }
}


.section_header_text {
    width: 50%;
    text-align: center;
    margin: 50px auto;

    @include smalldesktop {
        width: 60%;
    }

    @include tablet {
        width: 80%;
    }


    @include smalltablet {
        width: 100%;
    }
}

/* tag info */

.tag_info {
    background-color: $BackgroundColor;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;

    @include mobilelarge {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        justify-items: center;
    }

    h4 {
        padding-right: 10%;

        @include mobilelarge {
            padding: 0;

        }
    }
}


//Card
.card_container {
    background-color: white;
    box-shadow: 5px 13px 26px -15px rgba(0, 0, 0, 0.42);
    border-radius: 13px;
    align-self: center;
    width: 100%;

    .card_center {
        padding: 10%;

        h3 {
            padding-bottom: 10px;
        }
    }
}

//Card section


.info_cards {
    height: fit-content;
}


// Fist Set of Cards
.cards_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    gap: 50px;

    @include desktop {
        gap: 20px;
    }

    @include mobilelarge {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }


    .left_card {
        height: 100%;
        width: 50%;
        display: flex;
        justify-self: end;

        @include tablet {
            width: 100%;
        }
    }
}

.cards_col {
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    width: 50%;

    @include tablet {
        width: 100%;
    }

    @include mobilelarge {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-column: 1;
        grid-row: 1;
        gap: 20px;
    }


    :first-child {
        align-self: end;
    }
}



// Home sep
.home_sep {
    width: 70%;
    border: 1px solid #EEDFD0;
    margin: 10px auto;
}



//iPhone image 
.iphone_image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



.home_features {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    gap: 2vw;

    @include mobilelarge {
        grid-template-columns: 1fr;
    }

}