header {
    width: 100%;
    background-color: $BackgroundColor;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    min-height: 60vh;
    margin-top: 150px;

    .header_text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        * {
            padding: 10px 0px;
        }

        .header_small {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 0;

            hr {
                margin-left: 50px;
                padding: 0 !important;
                border-bottom: 1px solid black !important;
            }
        }

        input {
            width: 200px;
            height: 50px;
            border: none;
            background-color: $Blue;
            font-weight: normal;
            font-size: 15px;

            border-radius: 10px;
            transition: all .5s ease;
            color: white;
        }

        input:hover {
            cursor: pointer;
            transform: scale(1.1, 1.1);
        }

        .header_main {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    @include smalldesktop {
        height: 800px;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;

        .header_main {
            align-items: center;
        }

        .header_text {
            align-items: center;
        }

        h1,
        h6 {
            text-align: center;
        }
    }

    .header_image {
        display: flex;
        align-items: center;
        justify-content: center;


        img {
            max-height: 100%;
            width: auto;
        }
    }

}

.row.heading {
    margin: 100px 0px;

    @include mobilelarge {
        margin: 50px 0px;
    }
}

///////////////////// New /////////////////////
.large_header {
    padding: 0px 0px 25px 0px;
    width: 100%;
    display: flex;

    .content {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    span.point {
        position: absolute;
        top: 10%;
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }

    h3 {
        position: relative;
    }


    h3 {
        span {
            position: absolute;
            top: 50%;
            height: 10px;
            width: 10px;
            border-radius: 50%;
        }
    }

    @include mobilelarge {
        h3 {
            width: auto;
        }

        .content {
            width: 100%;
            align-items: start !important;
        }

        h3 {
            margin-left: 10px !important;
        }

        p {

            text-align: left !important;
        }

        span.point {
            display: none;
        }
    }
}

.small_heading {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));


    @include tablet {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        gap: 10%;
    }

    @include mobilelarge {
        grid-template-columns: 1fr;
        gap: 50px;

    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobilelarge {
            justify-content: center;
            align-items: center;
        }


        h4 {
            font-size: 1.5em;
            position: relative;
            z-index: 1;
            color: white;
            margin-bottom: 10px;
            width: fit-content;
            text-align: center;
        }

        p {
            width: 60%;
            font-size: 1.1em;
            line-height: 1.6em;
            text-align: center;

            @include tablet {
                width: 100%;
            }

            @include mobilelarge {
                text-align: center;
            }
        }

        h4::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            width: 100%;
            height: 100%;
            background-color: $Blue;
            padding: 0px 10px;


            z-index: -1;

            @include tablet {
                width: 100%;
            }
        }
    }
}

.app_photo {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 50px 0px;

    img {
        max-height: 100%;
        width: auto;
    }

    @include mobilelarge {
        height: fit-content;
    }
}




/* tag info */

.tag_info {
    background-color: $BackgroundColor;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px 0px;



    @include tablet {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        justify-items: center;

    }

    h4 {
        padding-right: 5%;

        @include mobilelarge {
            padding: 0;
        }
    }
}



.phone_app_image {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 100%;
    }
}




.view_more {
    width: 50%;
    padding-bottom: 50px;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h4 {
        color: $Blue;
    }

    hr {
        border: none;
        border-top: 2px solid $Blue;
        margin-left: 10px;
    }

    @include mobilelarge {
        padding-bottom: 50px;
        width: 100%;

        a {
            font-size: 1em;
            flex-direction: column !important;
        }
    }
}

.bg_gradient {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding: 10px 0px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    height: fit-content;
    padding: 50px 0px;
    padding-bottom: 100px;
    margin-bottom: 50px;

    @include desktop {
        width: 100%;
        border-radius: 0px;
    }

    h2,
    h3,
    p,
    a,
    h4 {
        color: white;
    }

    hr {
        border-color: white;
    }

    h3 {
        span {
            background-color: rgb(145, 255, 0) !important;

        }
    }

    .content {
        margin: 25px 0px;

        h4 {
            color: $Blue;
        }

        h4::before {
            background-color: white;
        }
    }

    .support_contact {

        h2,
        p {
            margin: 20px 0px;
        }
    }
}