///Section One

.section_container {
    margin-top: 150px;
    height: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;

    @include desktop {
        height: 500px;
    }

    @include tablet {
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-columns: 1fr;
        justify-items: center;
        height: fit-content;
    }

    .header_image {
        height: 100%;
        display: grid;
        grid-template-rows: 200px auto;

        @include desktop {
            grid-template-rows: 30% auto;
        }

        @include tablet {
            grid-template-rows: 100px 300px;
        }

        h1 {

            @include smalldesktop {
                font-size: 3em;
            }

            @include tablet {
                font-size: 2em;
            }

            @include mobilelarge {
                font-size: 1em;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .section_card {
        align-self: center;
        justify-self: center;
        height: 80%;
        width: 50%;

        @include desktop {
            width: 60%;
        }


        @include tablet {
            width: 90%;
        }
    }
}


/* Features Page */



.features_title {
    margin: 50px;
    text-align: center;
    font-size: 1.5em;




    @include mobilelarge {
        margin: 25px;

        h2 {
            font-size: 1.5em;
        }

    }

}




.feature_image {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    @include tablet {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }


    img {
        max-width: 100%;
        height: auto;

        @include tablet {
            max-width: 60%;
        }
    }
}

.features {
    .small_heading {
        margin: 100px 0px;
    }
}



.features_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px 20px;

    @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include smalltablet {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .features_text {
        height: 100%;
        display: flex;
        flex-direction: column;

        @include tablet {
            align-items: center;
            justify-content: center;
        }



        .features_content {
            padding: 40px 0px;
            width: 60%;

            h4 {
                font-weight: 600;
            }

            p {
                color: rgb(139, 139, 139);
                font-weight: 300;
            }

            @include tablet {
                h4 {
                    font-size: 1.5em;
                    text-align: center;
                }

                p {
                    font-size: 1em;
                    text-align: center;
                    padding-top: 10px;
                }
            }

            @include mobilelarge {
                width: 90%;
            }
        }
    }




    .features_image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-bottom: 50px;

        img {
            max-width: 80%;
        }

    }
}

img {
    max-width: 100%;
    height: auto;
}


////////////////// About //////////////////////

.section.about {
    height: 560px;
    width: 100%;
    position: relative;
    margin-top: 150px;

}

.about_title {
    text-align: center;

    padding-bottom: 50px;

    .register_button {
        margin: 30px 0px;
    }


    span {
        width: 75px;
        background-color: $Blue;
        padding: 20px 60px;
        border-radius: 12px;
        color: white;
        margin-top: 20px;
    }
}


.about_image {
    width: 100%;
    height: 300px;
    margin: 50px 0px;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
    }
}




///////////////////////// Suport //////////////////////



.contact_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-items: center;
    padding: 100px 0px;
}

.contact_card {
    width: 300px;
    height: 75px;
    background-color: $Blue;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;




    li a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #F8F8F8;
        letter-spacing: 0;
        line-height: 37px;
        padding: 20px;
        text-decoration: none;
    }
}


.support_bg {
    height: fit-content;
    background-color: white;
    padding: 50px;
}


.support_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
}

@include tablet {
    .support_header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .contact_cards {
        grid-template-columns: 1fr;
    }
}

.support_form {
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;

        input {
            height: 50px;
            width: 100%;
            color: $DarkGrey;
            background-color: rgb(240, 240, 240);
            border: none;
            border-radius: 4px;
            width: 100%;
            margin: 20px 0px;
            padding: 0px 10px;

        }

        textarea {
            width: 100%;
            background-color: rgb(240, 240, 240);
            resize: none;
            border-radius: 4px;
            border: none;
            padding: 10px 10px;
            margin: 20px;
        }

        input::placeholder,
        textarea::placeholder {
            color: $DarkGrey;
            font-size: 16px;
            padding-left: 5px;
        }

        .support_buttons {
            display: flex;
            flex-direction: row;
            width: 100%;

            input {
                background-color: transparent;
            }

            input[type=submit] {
                background-color: $Blue;
                color: $whiteText;
                font-size: 14px;
                border: none;
                cursor: pointer;
                margin: 0px 10px;
            }

            input[type=reset] {
                background-color: rgb(240, 240, 240);
                color: $DarkGrey;
                font-size: 14px;
                border: none;
                cursor: pointer;
                margin: 0px 10px;
            }
        }

    }
}