///Section One

.section_container {
    margin-top: 150px;
    height: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;

    @include desktop {
        height: 500px;
    }

    @include tablet {
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-columns: 1fr;
        justify-items: center;
        height: fit-content;
    }

    .header_image {
        height: 100%;
        display: grid;
        grid-template-rows: 200px auto;

        @include desktop {
            grid-template-rows: 30% auto;
        }

        @include tablet {
            grid-template-rows: 100px 300px;
        }

        h1 {

            @include smalldesktop {
                font-size: 3em;
            }

            @include tablet {
                font-size: 2em;
            }

            @include mobilelarge {
                font-size: 1em;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .section_card {
        align-self: center;
        justify-self: center;
        height: 80%;
        width: 50%;

        @include desktop {
            width: 60%;
        }


        @include tablet {
            width: 90%;
        }
    }
}


/* Features Page */



.features_title {
    margin: 50px;
    text-align: center;
    font-size: 1.5em;

    @include mobilelarge {
        margin: 25px;

        h2 {
            font-size: 1.5em;
        }

    }

}


.features2 {
    .bg_gradient {
        width: 100%;
        border-radius: 0;
    }

    .inner_container {
        margin-top: 100px;
    }
}

.feature_image {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    .large_header {
        .content {
            width: 80%;
        }
    }

    img {
        max-width: 40%;
        height: auto;
    }

    @include tablet {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        img {
            max-width: 60%;
        }

        .large_header {
            justify-content: center;


        }
    }

}

.features {
    .small_heading {
        margin: 100px 0px;
    }
}



.features_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px 20px;

    @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include smalltablet {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .features_text {
        height: 100%;
        display: flex;
        flex-direction: column;


        @include tablet {


            h2 {
                text-align: center;
            }

            align-items: center;
            justify-content: center;
        }



        .features_content {
            padding: 40px 0px;
            width: 80%;

            h4 {
                font-weight: 600;
            }

            p {
                opacity: .7;
            }

            @include tablet {
                h4 {
                    font-size: 1.5em;
                    text-align: center;
                }

                p {
                    font-size: 1em;
                    text-align: center;
                    padding-top: 10px;
                }
            }

            @include mobilelarge {
                width: 90%;
            }
        }
    }




    .features_image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-bottom: 50px;

        img {
            max-width: 80%;
        }

    }
}

img {
    max-width: 100%;
    height: auto;
}


////////////////// About //////////////////////

.about {
    .inner_container:first-child {
        margin-top: 100px;
    }
}

.about_title {
    text-align: center;
    padding: 50px 0px;

    .register_button {
        margin: 30px 0px;
    }


    span {
        width: 75px;
        background-color: white;
        padding: 20px 60px;
        border-radius: 12px;
        color: $Blue;
        margin-top: 20px;
    }
}


.about_image {
    width: 100%;
    height: 300px;
    margin: 50px 0px;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
    }
}




///////////////////////// Suport //////////////////////



.support {
    margin-top: 100px;
}


.support_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;


    @include tablet {
        width: 80%;

    }

    @include mobilelarge {
        width: 100%;
    }

    >* {
        padding: 10px 0px;
    }


    button {
        background-color: $Blue;
        border: none;
        color: white;
        width: 225px;
        height: 60px;
        border-radius: 8px;
        font-size: 1em;
        scroll-behavior: smooth;
        cursor: pointer;
    }
}

.contact_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-items: center;
    padding: 100px 0px;
    transition: all 1s ease;
}

.contact_card {
    width: 300px;
    height: 75px;
    background-color: $Blue;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    li a {
        font-size: 1em;
        font-weight: normal;
        color: #F8F8F8;
        padding: 20px;
        text-decoration: none;
    }
}

.contact_card:hover {
    transition: all 1s ease;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}


.support_bg {
    height: fit-content;
    background-color: white;
    padding: 50px;
}


.support_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    margin: 50px 0px;

    img {
        align-self: center;
        justify-self: center;
        max-width: 80%;
        height: auto;
    }

    @include tablet {
        margin-top: 0px;

        img {
            order: 2;
        }
    }


}


.support {
    .large_header {
        justify-content: center;

        .content {
            justify-self: center;
            width: 50%;
        }
    }
}

@include tablet {
    .support_header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .contact_cards {
        grid-template-columns: 1fr;
    }
}

.support_form {
    display: flex;
    justify-content: center;

    @include mobilelarge {
        width: 90%;
        margin: 0 auto;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;

        input {
            height: 50px;
            width: 100%;
            color: $DarkGrey;
            background-color: white;
            border: none;
            border-radius: 4px;
            margin: 20px 0px;
            padding: 0px 10px;
        }

        textarea {
            width: 100%;
            background-color: white;
            resize: none;
            border-radius: 4px;
            border: none;
            padding: 10px 10px;
            margin: 20px;
            font-size: 1em;
            font-size: 16px;
            color: $DarkGrey;
        }

        input::placeholder,
        textarea::placeholder {
            color: $DarkGrey;
            font-size: 16px;
        }

        .support_buttons {
            display: flex;
            flex-direction: row;
            width: 100%;

            input {
                background-color: transparent;
            }

            input[type=submit] {
                background-color: $Blue;
                color: $whiteText;
                font-size: 14px;
                border: none;
                cursor: pointer;
                margin: 0px 10px;
            }

            input[type=reset] {
                background-color: white;
                color: $DarkGrey;
                font-size: 14px;
                border: none;
                cursor: pointer;
                margin: 0px 10px;
            }
        }

    }
}