
$darkblue: #2962FF;
$BG: #F1F3F6;
$whiteText: #FDFDFD;
$black: #323232;
$whiteBG: #ffffff;
$widgetGrey: #F5F5F5;





/* New */


$Background: #F1F3F6;
$HeadingGrey: #323232;
$SubGrey: #6B6868;
$BlueBackground: #202D5A;




/* New */



$blue:  #5F6CAF;
$orange: #FF8364;
$orangeShade: rgba(255,182,119,.25);
$heading: #323232;
$white: #F1F3F6;
$purple: #202D5A;







/* New Feb */
$backgroundColor: #FBF0E4;
$headingFont: 'Eczar', serif;
$navGrey : #191C1F;
$darkGrey:#191C1F;
$lightGrey: #6B6868;