// Website
$DarkGrey:#191C1F; // h1
$BackgroundColor: #FBF0E4; // Main Background color
$whiteText: #FDFDFD;
$HeadingGrey: #323232;
$headingFont: 'Eczar',
serif;



// App
$AppDarkGrey: #191C1F;
$AppBackgroundColor:#F8F8F8;
$AppLightGrey: rgb(230, 230, 230);
$white: white;
$headingMain: #323232;
$Orange: #FF8364;
$Black: #323232;



// Dark app themes
$DarkAppBackgroundColor: #121212;
$DarkAppGreyTwo: #1E1E1E;
$DarkAppGreyThree: rgb(45, 45, 45);
$DarkAppHeading: #f8f8f8;






// Shortest time way to do it but tedious 
.app_container.dark-mode {
    background-color: $DarkAppBackgroundColor;

    .dashboard_navigation {
        background-color: $DarkAppGreyTwo;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    a,
    li {
        color: $DarkAppHeading;

    }


    .summary_holder {
        background-color: $DarkAppGreyThree;
    }
}