// Website
$DarkGrey:#191C1F; // h1
$BackgroundColor: #FBF0E4; // Main Background color
$whiteText: #FDFDFD;
$HeadingGrey: #323232;
$headingFont: 'Eczar',
serif;



// App
$AppDarkGrey: #191C1F;
$AppBackgroundColor:#F8F8F8;
$AppLightGrey: rgb(230, 230, 230);
$white: white;
$headingMain: #323232;
$Orange: #FF8364;
$Black: #323232;
$BorderBlue: 1px solid rgb(205, 219, 224);
$Blue: #2962FF;
$LightPurple:rgb(231, 233, 255);



$d1440-width: 1440px;
$desktop-width: 1024px;
$tablet-width: 768px;
$small-tablet-width: 580px;
$mobile-large: 425px;



@mixin desktop {
    @media (max-width: #{$d1440-width}) {
        @content;
    }
}



@mixin smalldesktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}


@mixin smalltablet {
    @media (max-width: #{$small-tablet-width}) {
        @content;
    }
}


@mixin mobilelarge {
    @media (max-width: #{$mobile-large}) {
        @content;
    }
}