// Dark app themes
$DANavBG: rgb(20, 20, 20);
$DABG: rgb(15, 15, 15);
$DABGTwo: rgb(30, 30, 30);
$DABGThree: rgb(40, 40, 40);
$DABGFour: rgb(60, 60, 60);
$DABGFive: rgb(80, 80, 80);
$DABackgroundThree: rgba(255, 255, 255, 0.02);
$DAText: #c2c2c2;



// Shortest time way to do it but tedious
//Headings
$DAHeadingOne: black;
$DAHeading: #e4e4e4;
$DAHeadingLighter: #888888;
$DAHeadingHover: #1E1D27;
$DAHeadingGrey: rgb(141, 141, 141);


.app_container.dark-mode {
    background-color: $DANavBG;

    // Backgrounds
    .summary_container,
    .folder_page,
    input {
        background-color: $DANavBG;
    }



    input {
        color: white;
    }

    input::placeholder {
        color: white;
    }

    input,
    .folder_container,
    .dashboard_navigation {
        background-color: $DABGTwo;
    }

    h4,
    h5 {
        color: $DAText;
    }

    h6 {
        color: $DAHeadingLighter;
    }

    h1,
    h2,
    h3,
    span,
    a,
    li {
        color: #d6d6d6;
    }




    ///////////////////////////// Top Bar /////////////////////////////
    .search_bar {
        .app_search {
            .search_container {
                input {
                    color: $DAText;
                }

                input::placeholder {
                    color: $DAText;
                }


            }

            .search_results_container {
                background-color: $DABGThree;
                border-color: rgb(60, 60, 60);

                :hover {
                    background-color: $DABGFour;
                }

                .result_holder {
                    svg {
                        color: $DAText;
                    }



                    a {
                        svg {
                            color: $DAText;
                        }

                        h5 {
                            color: $DAText;
                        }
                    }
                }
            }

        }
    }


    /////////////// Navigaton Bar ///////////////////////////// 
    .top_bar {
        background-color: $DABG;
        border: none;
    }


    .search_container {
        input::placeholder {
            color: white;
        }


        .fa-search {
            color: white;
        }
    }



    .widget {
        background-color: none;

        .widget_content {
            .input_multiple {
                border-color: $DABGFive;

                :nth-child(-n+2) {
                    border-color: $DABGFive;
                }

                a {
                    color: $DAHeading;
                }
            }

            button {
                color: $DABGFive;
            }




        }

        .widget_content:last-child {

            border-color: $DABGFive;

        }

        .input_multiple:hover {

            background-color: $DABGFour;

        }

        a {
            color: white;
        }


    }

    .plus {
        display: inline-block;
        width: 30px;
        height: 30px;
        background:
            linear-gradient($DABGFour, $DABGFour),
            linear-gradient($DABGFour, $DABGFour);
        background-position: center;
        background-size: 30% 2px, 2px 30%;
        /*thickness = 2px, length = 50% (25px)*/
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .profile_container {
        .fa-cog {
            color: white;
        }

        .fa-times {
            color: #191C1F;

            :hover {
                color: white;
            }
        }
    }

    .app_search {
        input {
            background-color: $DABackgroundThree;
        }
    }



    ///////////////////////////// Side nav  /////////////////////////////

    .dashboard:hover {
        background-color: $DAHeadingHover;
    }

    ///////////////////////////////Folders widget/////////////////////////////

    .w_contents {
        li a {
            color: $DAHeadingGrey;
        }

        li:hover {
            background-color: $DAHeadingHover;
        }
    }

    .fa-trash {
        color: $DABGFive;
    }



    /////////////////////////////// Tasks/////////////////////////////

    form.task_form {
        p {
            color: $DAHeading !important;
        }

        .task_isCompleted {
            text-decoration: line-through;
            color: #00E676;


        }

        label {
            color: $DAHeadingLighter
        }

        input:checked+label:after {

            border: 2px solid #00E676;
            background-color: #00E676;
        }
    }









    /////////////////////////////// Summary Page/////////////////////////////

    .summaries {
        .summaries_nav {
            ul {
                border-color: $DABGThree;

                li {
                    .summary_active {
                        color: white;
                        border: $DABGThree;
                        background-color: $DABGThree;
                    }

                    a {
                        color: $DAHeadingHover;
                        background-color: $DABGTwo;
                        color: rgb(163, 163, 163);
                    }
                }
            }

        }
    }


    .summary_holder {
        background-color: $DABackgroundThree;
    }

    .circle.tasks {
        background-color: #00E676;

        .fa-check {
            color: #00C853;
        }
    }



    /////////////////////////////  Summary /////////////////////////////

    .summaries_nav {
        border-color: $DABGThree;
    }


    .icon {
        h3 {
            color: $DAText;
        }
    }


    .s_n_item {
        border-color: $DABGFour;

        .edit {
            background-color: $DABGFour;

            svg {
                color: $DABGThree;
            }
        }
    }


    .s_f_item {
        border-color: $DABGThree;
    }

    .s_n_item:hover {
        transition: background .5s ease;
        cursor: pointer;
        background-color: $DABGThree;
        border-top: 1px solid rgb(80, 80, 80);
        border-bottom: 1px solid rgb(80, 80, 80);
    }


    .s_f_item:hover {
        transition: background .5s ease;
        cursor: pointer;
        background-color: $DABGThree;
        border-top: 1px solid rgb(80, 80, 80);
        border-bottom: 1px solid rgb(80, 80, 80);
    }

}



///////////////////////////// Settings /////////////////////////////



.settings_nav {

    nav {
        ul {
            background-color: $DABGTwo;
            border-color: $DABGThree;

            li {
                .settings_active {
                    background-color: $DABGThree;
                    border-color: $DABGThree;
                }
            }
        }
    }

}