.app_navigation {
    width: 30x;
    height: 100vh;
    position: relative;
    z-index: 1;

}

.hover_open {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    .hover_image {
        width: 40px;
        height: 40px;
        border-radius: 12px;
        position: absolute;
        top: 15px;
        left: 15px;
        cursor: pointer;
    }
}

/* Dashboard Navigation */
.dashboard_navigation {
    width: 0px;
    height: 100%;
    overflow: hidden;
    background-color: $white;
    transition: width .2s linear;
}

.grow {
    width: 225px;
    transition: width .2s linear;
}

/* Profile */

.profile_image {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    transition: all .25s ease;
}

.profile_image:hover {
    transform: scale(1.2);
}

.p_image {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-weight: 600px;
        color: #f8f8f8;
    }
}

.app_profile {
    position: absolute;
}

.profile_container {
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0px;

    .profile_image {
        margin: 0;
    }

    .profile_name {
        width: 40%;
        padding-left: 5px;
    }

    .profile_setting {
        width: 30%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        .fa-times {
            padding-left: 10px;
        }

        .fa-times:hover {
            color: $AppDarkGrey;
        }
    }
}

//Nav Options 
nav.options {
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: $white;
    height: inherit;
    width: 200px;
    border-radius: 8px;
    transition: ease 1s;
    box-shadow: 35px 50px 66px -42px rgba(0, 0, 0, 0.75);

    li {
        display: block;
    }

    a {
        font-size: 14px;
    }
}

//Search 
.app_search {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;

    input {
        width: 100%;
        height: 30px;
        background-color: $AppLightGrey;
        border: none;
        border-radius: 8px;
        padding: 10px;
    }
}

/* Folder Widget */
.widget {
    max-height: 150px;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px 0px;
    overflow-y: scroll;
}

.widget_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.widget_content {
    width: 100%;
    margin: 0 auto;

    .input_multiple {
        display: flex;
        justify-content: space-between;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        right: 20px;
    }

    li {
        width: 100%;
        margin: 3px 0px;
        list-style-type: disc;
    }

    li:hover {
        border-radius: 6px;
        width: 100%;
        background-color: $AppLightGrey;
    }

    li a {
        font-size: 14px;
        color: $AppDarkGrey;
        font-weight: 500;
    }

    a {
        display: block;
        width: 100%;
        padding: 5px 0px;
    }
}

.w_contents {
    overflow-x: auto;
    height: inherit;
    margin-left: 10px;

    li {
        display: flex;
    }
}

.plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    background:
        linear-gradient($DarkGrey, $DarkGrey),
        linear-gradient($DarkGrey, $DarkGrey);
    background-position: center;
    background-size: 30% 2px, 2px 30%;
    /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
    cursor: pointer;
}


.input_holder {
    .f_form {
        position: relative;
        width: inherit;
        background: transparent;

        input {
            width: 100%;
            // user-select: none;
            border: none;
            font-size: 14px;
            color: $DarkGrey;
            font-weight: 500;
            padding: 5px 0px;
            background-color: rgb(236, 236, 236);
            border-radius: 8px;
        }
    }
}

/* Tasks Form */

form.task_form {
    display: flex;
    flex-direction: column;

    .task_data {
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    label {
        font-size: 14px;
        color: $DarkGrey;
        font-weight: 500;
        width: 100%;
    }

    input {
        height: 20px;
        width: 20px;
        display: none;
        cursor: pointer;
        padding-right: 20px;
    }

    label {
        position: relative;
        cursor: pointer;
        border-radius: 50%;
    }

    label:before {
        content: '';
        height: 15px;
        width: 15px;
        background-color: transparent;
        border: 1.5px solid rgba(128, 128, 128, 0.507);
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 5px;
    }

    input:checked+label:after {
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        border: 2px solid #75daad;
        background-color: #75daad;
    }
}


// Folders 

.folder_page {
    height: calc(100vh - 150px);
    width: 90%;
    position: relative;
    top: 150px;
    margin: 0 auto;

    .folders_heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;

        span {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $Orange;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            margin-left: 10px;
            transition: all .25s ease;
        }

        span:hover {
            transform: scale(1.2, 1.2);
        }
    }
}

.folder_item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(80%, 1fr) minmax(20%, 1fr);
    align-items: center;
    margin-top: 20px;
    border-bottom: 1.3px solid rgb(204, 204, 204);
    position: relative;
}

.folder_item:hover {
    background-color: #ebebeb;

}

.folder_item_container {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    align-items: center;

    span {
        z-index: 1;
    }
}



/* Context Menu */

.contextMenu {
    background-color: $white;
    width: 10%;
    height: fit-content;
    padding: 15px;
    border-radius: 12px;
    z-index: 1;

    li a {
        font-size: 12px;
        text-decoration: none;
        font-weight: 600;
        color: $AppDarkGrey;

    }

    li {
        padding-bottom: 5px;
        display: block;
        cursor: pointer;
    }

    li:hover {
        background-color: $Orange;

    }
}

/////////// Handle Message //////////////@extend
.handle_message_container {
    position: absolute;
    top: 20px;
    right: 20px;
    height: fit-content;
    width: fit-content;
}

.handle_message {
    width: 0px;
    height: 30px;
    border-radius: 12px;

    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle {
        background-color: white;
        width: 20px;
        margin-left: 10px;
    }

    span {
        color: white;
        padding-left: 10px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
    }

}

.show_success {
    background-color: rgb(0, 207, 107);
    width: 150px;
    transition: all .5s ease;
}

.warning {
    background-color: #ea728c;
    width: fit-content;
    transition: all .5s ease;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span:nth-child(2) {
        color: red;
    }
}