/* Dashboard Navigation */

.dashboard_navigation {
    width: 400px;
    height: 100%;
    background-color: black;
}


.dashboard_navigation:hover {
    /* Goes in when not in use */
}




/* Profile */

.profile_container {
    height: 125px;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
}



.app_search {

    input {
        width: 100%;
        height: 25px;
        background-color: lightgray;
        border: none;
        border-radius: 5px;
    }
}


/* Folder Widget */

.folder_widget {
    height: calc(100vh / 5);
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.folder_header {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.folder_content {
    background-color: $widgetGrey;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    height: 90%;

    ul {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
}
    li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    li:hover {
        background-color: #ECEAEA;
        border-radius: 12px;
        width: 100%;
    }
    
    li a {
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        color: $black;
        font-weight: normal;
        text-decoration: none;
    }
    
}

.plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    background:
        linear-gradient($black, $black),
        linear-gradient($black, $black);
    background-position: center;
    background-size: 30% 2px, 2px 30%;
    /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
    cursor: pointer;
}