footer {
    width: 100%;
    height: 300px;
    background-color: $BackgroundColor;
    display: flex;
    align-items: center;
    margin: 0 auto;

    @include mobilelarge {
        height: fit-content;
        margin-top: 20px;
    }

    img {
        width: 150px;
    }
}

hr.footer_hr {
    border-top: 2px solid lightgrey;
}

.footer_nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;

    @include smalltablet {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-got, minmax(100px, 1fr));
    }

    .nav_items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        @include mobilelarge {
            grid-template-columns: 1fr;
            justify-items: center;


        }



    }



    li {
        padding: 5px;
        display: block;
    }

    a {
        text-decoration: none;
        color: $DarkGrey;
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
    }

}