/* Website Navigation */
.website_navigation {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;

    .center_center {
        justify-content: space-between;
    }

    img {
        width: 125px;

        @include tablet {
            padding-left: 20px;
        }
    }

}

.website_nav_login {
    span a {
        color: $BackgroundColor;
    }

    @include tablet {
        display: none;
    }
}

.circle_border {
    width: 100px;
    height: 100px;
    padding: 20px 50px;

    //Below hover code by https://stackoverflow.com/questions/23934749/fill-element-from-center-on-hover
    a {
        padding: 10px 40px;
        color: $white;
        background-color: $Blue;
        background-image: linear-gradient($BackgroundColor, $BackgroundColor);
        background-repeat: no-repeat;
        background-size: 0% 50%;
        transition: background-size .5s, color .5s;
        border-radius: 8px;

    }

    a:hover {
        background-size: 100% 100%;
        color: $DarkGrey;
    }
}


// Created and altered with https://codepen.io/martinwolf/pen/eNNdme/
.website_nav {
    @include tablet {
        display: none;
    }

    a {
        padding: 10px 40px;
        background-image: linear-gradient($DarkGrey, $DarkGrey);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s, .5s;
        border-radius: 4px;

        @include smalldesktop {
            padding: 10px 20px;
        }

    }

    a:hover {
        background-size: 100% 100%;
        color: $BackgroundColor;
    }

}

.center_center {
    display: flex;
    align-items: center;
    flex-direction: row;
}