/* Website Navigation */
.website_navigation {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    border-bottom: $BorderBlue;

    .center_center {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    img {
        width: 100px;

        @include tablet {
            padding-left: 20px;
        }
    }
}

// Acutal Navigation
.website_nav {
    display: flex;
    flex-direction: row;
    align-items: center;


    li {
        padding: 10px 10px;
        background-image: linear-gradient($Blue, $Blue);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s, .5s;
        border-radius: 4px;
    }

    li:hover {
        background-size: 100% 100%;
        color: $white;
    }

    a:hover {
        color: white;
    }


    @include smalldesktop {
        a {
            padding: 10px 20px;
        }
    }

    @include tablet {
        display: none;
    }

}





// Login Container
.website_nav_login {
    span a {
        color: $BackgroundColor;
    }

    @include tablet {
        display: none;
    }
}

.circle_border {
    width: 100px;
    height: 100px;
    padding: 20px 50px;

    //Below hover code by https://stackoverflow.com/questions/23934749/fill-element-from-center-on-hover
    a {
        padding: 10px 40px;
        color: $white;
        background-color: $Blue;
        background-image: linear-gradient($BackgroundColor, $BackgroundColor);
        background-repeat: no-repeat;
        background-size: 0% 50%;
        transition: background-size .5s, color .5s;
        border-radius: 8px;
    }

    a:hover {
        background-size: 100% 100%;
        color: $DarkGrey;
    }
}



.tablet_logo {
    display: none;

    @include tablet {
        display: block;
    }
}