.settings_main {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 100%;
    grid-template-rows: 1fr;
    border-radius: 12px;
}

.settings_nav {
    height: 100%;

}


.hello {
    width: 100%;
    height: 100%;
    background-color: blue;
}