.settings_main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 150px 1fr;
    border-radius: 20px;
    gap: 40px;
}

.settings_nav {
    height: 100%;
    width: 100%;
    // background-color: #161621;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

    nav {
        width: 50%;
        height: 40px;
    }


    ul {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: 1fr;
        height: 40px;
        background-color: #f5f5f5;
        width: fit-content;
        border-radius: 4px;
        border: 1px solid #ececec;

        @include mobilelarge {
            width: 100%;
            grid-template-columns: repeat(4, 4fr);
        }
    }

    li {
        height: inherit;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: rgb(150, 150, 150);
            font-size: 1em;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            line-height: 40px;
            height: 100%;
            width: 100%;
            padding: 0;
            font-weight: 500 !important;
        }
    }


    .settings_active {
        height: 100%;
        color: $Blue;
        position: relative;

        background-color: white;
        border: .5px solid #ececec;
    }


    @include tablet {
        nav {
            width: 100%;
        }
    }

}

.toggle_theme {
    display: flex;
    align-items: center;
    justify-content: ceil($number: 0);
}

.settings_hr {
    width: 50%;
    padding-top: 10px;
    border-bottom: 2px solid rgb(216, 216, 216);
}


.hello {
    width: 100%;
    height: 100%;
    background-color: blue;
}


.settings_content {
    width: 100%;
}


// Toggle Switch 
// Initally took from https://www.w3schools.com/howto/howto_css_switch.asp
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


//////////////// Acount ////////////////

.account_container,
.settings_password {
    height: 100%;
    width: 60%;


    @include mobilelarge {
        width: 100%;
    }


    label {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 500;
        color: rgb(78, 78, 78);
    }

    input {
        height: 40px;
        color: $DarkGrey;
        border-radius: 5px;
        border: 1px solid #ececec;
        padding: 5px;
        margin-left: 10px;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        color: rgb(78, 78, 78);
        background-color: rgb(241, 241, 241);
        font-weight: 300;

        @include mobilelarge {
            margin: 10px;
        }
    }


    input[type=submit] {
        background-color: $Blue;
        color: $BackgroundColor;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 50%;
        align-self: start;
        height: 50px;
    }

    input::placeholder {
        color: rgb(134, 134, 134);
        font-size: 16px;
    }
}


/////// Edit Account Information ///////////
.account_container {
    form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
        gap: 40px;

        @include mobilelarge {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }


}

/////// Password ///////////

.settings_password {
    display: flex;
    flex-direction: column;
    width: 60%;

    @include mobilelarge {
        width: 100%;
    }

    .circle {
        background-color: #50d890;
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }

    .password-match {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        .length,
        .symbols,
        .mix,
        .match {
            display: flex;
            flex-direction: row;
            padding: 10px 0px;
            align-items: center;

            p {
                font-size: 1em;
            }
        }
    }



    form {
        display: flex;
        flex-direction: column;


    }
}