///////// Summary page ////////
.summaries {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;

    @include smalldesktop {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        margin: 0 auto;
    }
}

.summary_content {
    height: 100%;
    width: 100%;
}


.summaries_nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1.5px solid rgb(209, 209, 209);


    ul {
        display: grid;
        grid-template-columns: repeat(3, 100px);

    }

    li a {
        color: rgb(150, 150, 150);
        font-size: 1.2em;
    }

    .summary_active {
        color: $DarkGrey;
        position: relative;
        font-weight: 500;
    }

    .summary_active::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 2px;
        background-color: $Blue;
    }
}


////// Summary Folder Holder //////////

.s_f_holder {
    margin-top: 20px;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    display: grid;
    grid-auto-rows: 100px;
    gap: 10px;
    position: relative;

    a {
        height: 100%;
        width: 100%;
    }
}

.s_f_item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    .title {
        display: flex;
        flex-direction: column;
    }



    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h3 {
            margin-left: 10px;
        }
    }

    >* {
        padding-right: 10px;
    }

}

.s_f_item:hover {
    transition: background .5s ease;
    cursor: pointer;
    background-color: rgb(209, 229, 255);
    border-top: 1px solid rgb(197, 221, 252);
    border-bottom: 1px solid rgb(197, 221, 252);
}

.circle_count {
    height: 50%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s_f_circle {
    width: 40px;
    height: auto;
    padding-top: 40px;
    border-radius: 50%;
    background-color: #e2a73a;
    border: 1px solid white;
    position: relative;
    display: flex;
}

.s_f_circle::before {
    transform: translate(50%, -50%);
    position: absolute;
    top: 50%;
    left: 25%;
    content: "N";
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.s_f_circle:nth-child(1) {
    position: relative;
    left: 20px;
    background-color: #ec7070;
}

.s_f_circle:nth-child(2) {
    position: relative;
    left: 10px;
    background-color: #70b0ec;
}

//// Summary Notes Holder





//////////// Notes /////////


.summary_notes {
    margin: 0 auto;
    border-radius: 12px;
}



.summary_grid_rows {
    height: 100%;
    display: grid;
    grid-auto-rows: 75px;
    overflow-y: auto;
    position: relative;
}

.summary_header {
    height: 100px;
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid rgb(233, 233, 233);

    h3 {
        padding-bottom: 10px;
    }
}


//////////////////////// Summary Tasks ////////////////////////

.summary_tasks {
    height: fit-content;
    padding-top: 20px;
}





.summary_holder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
    border-radius: 4px;
    margin: 0 auto;
    align-items: center;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}


.summary_text {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

.tasks>.summary_icon {
    width: 100%;
}



.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.summary_holder.notes span {
    font-weight: 600;
    color: #405AFF;
    font-size: 12px;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.circle.notes {
    background-color: rgba(112, 174, 231, 0.233);
}



.summary_text.notes::before {
    content: "",
}

.summary_holder.tasks:hover {
    width: 100%;
    transform: scale(0.9, 0.9);
    transition: all .5s ease;
    cursor: pointer;
}

.summary_holder.notes:hover {
    transition: background .5s ease;
    cursor: pointer;
    background-color: rgb(209, 229, 255);
    border-top: 1px solid rgb(197, 221, 252);
    border-bottom: 1px solid rgb(197, 221, 252);
}


.circle.tasks.complete {
    background-color: rgb(116, 224, 0);
}