///////// Summary page ////////
.summaries {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;

}

.summary_content {
    max-height: 100%;
    height: 50%;
    width: 100%;
    border-radius: 2px;
    margin: 0 auto;
}


.summaries_nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1.5px solid #ececec;

    ul {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        height: 40px;
        background-color: #f5f5f5;
        width: fit-content;
        border-radius: 4px;
        border: 1px solid #ececec;

        @include mobilelarge {
            width: 100%;
            grid-template-columns: repeat(3, 3fr);
        }
    }

    li {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: rgb(150, 150, 150);
            font-weight: 400;
            font-size: 1em;
            height: 100%;
            width: 100%;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            line-height: 40px;
        }
    }



    .summary_active {
        color: $Blue;
        position: relative;
        font-weight: 600;
        background-color: white;
        border: .5px solid #ececec;
    }

    // .summary_active::after {
    //     content: "";
    //     position: absolute;
    //     top: 100%;
    //     left: 0%;
    //     width: 100%;
    //     height: 3px;
    //     background-color: $Blue;
    //     margin-top: 5px;
    // }
}


////// Summary Folder Holder //////////

.s_f_holder {
    margin-top: 20px;
    width: 100%;
    height: 95%;
    display: grid;
    grid-auto-rows: 90px;
    gap: 20px;
    position: relative;

    a {
        height: 100%;
        width: 100%;
    }
}

.s_f_item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    background-color: #fafafa;
    border-radius: 8px;


    .title {
        display: flex;
        flex-direction: column;
    }



    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        @include mobilelarge {
            .fa-folder {
                font-size: 2em;
            }
        }

        h3 {
            margin-left: 10px;
        }
    }
}

///////////// Summary Note Holder

.s_f_head {
    height: 50px;
}

.s_f_header {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-auto-rows: 1fr;
    align-items: flex-end;



    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));



        div:nth-child(1) {
            display: none;
        }

        h6:nth-child(3) {
            display: none;
        }
    }
}

.s_n_item {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-auto-rows: 1fr;
    align-items: center;
    border-bottom: 1px solid #ececec;
    background-color: #fafafa;
    border-radius: 8px;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));

        h3:nth-child(3) {
            display: none
        }
    }

    @include mobilelarge {

        h3:nth-child(5) {
            font-size: .8em;
            color: rgb(200, 200, 200);
        }
    }




    h3,
    h5,
    h6,
    .title,
    .note_icon {
        pointer-events: none;
    }


    .note_icon {
        height: 50px;
        width: 50px;
        background-color: rgb(30, 74, 194);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        h6 {
            color: white;
        }

        @include tablet {

            display: none;

        }
    }

    .edit {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: rgb(230, 230, 230);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 10px;

        @include mobilelarge {
            height: 40px;
            width: 40px;
        }
    }

    .edit:hover {
        background-color: white;

        .fa-ellipsis-v {
            color: blue;
            pointer-events: none;
        }
    }

}

.s_n_item:hover {
    transition: background .5s ease;
    cursor: pointer;
    background-color: rgb(209, 229, 255);
    border-top: 1px solid rgb(197, 221, 252);
    border-bottom: 1px solid rgb(197, 221, 252);
}


.s_f_item:hover {
    transition: background .5s ease;
    cursor: pointer;
    background-color: rgb(209, 229, 255);
    border-top: 1px solid rgb(197, 221, 252);
    border-bottom: 1px solid rgb(197, 221, 252);
}

.circle_count {
    height: 50%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.s_f_circle {
    width: 40px;
    height: auto;
    padding-top: 40px;
    border-radius: 50%;
    background-color: #e2a73a;
    border: 1px solid white;
    position: relative;
    display: flex;
}

.s_f_circle::before {
    transform: translate(50%, -50%);
    position: absolute;
    top: 50%;
    left: 25%;
    content: "N";
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.s_f_circle:nth-child(1) {
    position: relative;
    left: 20px;
    background-color: #ec7070;
}

.s_f_circle:nth-child(2) {
    position: relative;
    left: 10px;
    background-color: #70b0ec;
}

//////////////////////// Summary Tasks ////////////////////////
.tasks_holder {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    grid-auto-rows: 260px;
    gap: 20px;

    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }


    @include tablet {
        grid-template-columns: repeat(auto-fill, 31%)
    }

    @include mobilelarge {
        grid-template-columns: repeat(auto-fill, 45%);
        grid-auto-rows: 200px;
    }
}

.task_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: #fafafa;

    h5,
    h6 {
        padding: 5px 0px;
        font-weight: 400 !important;
    }



    @include smalldesktop {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));


    }

    @include tablet {
        :nth-child(2) {
            justify-self: center;
        }

        :nth-child(3) {
            justify-self: center;
        }

        :nth-child(4) {
            display: none;
        }
    }
}

.task_item:hover {
    transition: background .5s ease;
    cursor: pointer;
    background-color: rgb(209, 229, 255);
    border-top: 1px solid rgb(197, 221, 252);
    border-bottom: 1px solid rgb(197, 221, 252);

}


.task_text_complete {
    color: rgb(255, 255, 255) !important;
}

.task_text {
    color: rgb(80, 80, 80) !important;
}

.task_item.complete {
    background-color: rgb(98, 233, 128)
}




.tasks>.summary_icon {
    width: 100%;
}



.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.circle.notes {
    background-color: rgba(112, 174, 231, 0.233);
}

.task_icon {
    position: relative;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgba(142, 220, 243, .2);

    .fa-check,
    .fa-times {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 1.2em;
    }

    h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(104, 212, 245) !important;
        font-size: 1.2em !important;
        font-weight: 400 !important;
    }
}

.task_icon.complete {
    background-color: #6fff8e;
}


.shadow {
    -webkit-box-shadow: 3px 10px 19px -8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 10px 19px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 10px 19px -8px rgba(0, 0, 0, 0.1);
}



// .summary_holder.tasks:hover {
//     width: 100%;
//     transform: scale(0.9, 0.9);
//     transition: all .5s ease;
//     cursor: pointer;
// }

// .summary_holder.notes:hover {
//     transition: background .5s ease;
//     cursor: pointer;
//     background-color: rgb(209, 229, 255);
//     border-top: 1px solid rgb(197, 221, 252);
//     border-bottom: 1px solid rgb(197, 221, 252);
// }