.summary_container {
    height: 100%;
    width: calc(90%);
    margin: auto;

    @include tablet {
        width: 85%;
    }
}

.summary_heading {
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.summary_heading:nth-child(1) h4:before {
    content: "•";
    color: blue;
}

.summary_heading:nth-child(2) h4:before {
    content: "•";
    color: green;
}

.summary_heading:nth-child(3) h4:before {
    content: "•";
    color: red;
}

.summaries {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    overflow-y: scroll;
    padding-top: 50px;

    @include smalldesktop {
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }


    @include tablet {
        height: fit-content;
    }
}

.circle {
    text-align: center;
    width: 90%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.circle:after {
    content: '';
    padding-top: 100%;
    display: table;
}

.circle.notes {
    background-color: rgba(112, 174, 231, 0.233);
}





.summary_notes,
.summary_tasks,
.summary_events {
    height: 90%;
    display: grid;
    grid-auto-rows: 125px;
    overflow-y: auto;
    position: relative;
    border-radius: 8px;
    background-color: $white;
    margin: auto 0;



    @include tablet {
        grid-auto-rows: 100px;
    }
}

.summary_holder {
    display: grid;
    grid-template-columns: 10% 80%;
    position: relative;

    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.summary_holder.notes span {
    font-weight: 600;
    color: #405AFF;
}

.summary_icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary_text {
    width: 95%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}


.summary_holder.tasks:hover {
    width: 100%;
    transform: scale(0.9, 0.9);
    transition: all .5s ease;
    cursor: pointer;
}

.summary_holder.notes:hover {
    transition: background .5s ease;
    cursor: pointer;
    background-color: rgb(209, 229, 255);
    border-top: 1px solid rgb(197, 221, 252);
    border-bottom: 1px solid rgb(197, 221, 252);
}

.summary_text>* {
    padding: 2px 0px;

}