// Form Container
.form_container {
    width: 100%;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: flex;
    flex-direction: column;
}

form.auth_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 100%;
        height: 50px;
        margin: 10px 0px;
        color: $DarkGrey;
        background-color: transparent;
        border-radius: 5px;
        border: 1.5px solid rgb(182, 182, 182);
        width: 100%;

    }

    input[type=text],
    input[type=password] {
        font-size: 16px;
        padding-left: 10px;
    }



    input .error {
        border: 1px solid red;
    }

    input[type=submit] {
        background-color: $DarkGrey;
        color: $BackgroundColor;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 50%;
        align-self: start;

        @include tablet {
            align-self: center;
        }


    }

    input::placeholder {
        color: lightgray;
        font-size: 16px;
    }
}

/* Register Container */
.reg_container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20%;


    @include smalldesktop {
        width: 60%;
    }

    @include mobilelarge {
        width: 90%;
    }
}

/* Login Container */
.log_left {
    width: 42%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include smalldesktop {
        width: 100%;
    }
}

.log_right {
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
        display: none;
    }



    svg {
        height: 100%;
        width: 60%;


    }
}

.login_container {
    width: 40%;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: flex;
    align-items: center;
    height: 100%;


    @include tablet {
        width: 60%;
    }


    @include mobilelarge {
        width: 90%;
    }

    .form_container {
        height: 700px;
    }

    h2 {
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        letter-spacing: 0;
    }

    p {
        font-weight: 400;

    }

    span {
        color: #2962FF;
        font-weight: 600;
    }

    .social_auth {
        flex-direction: column;
        align-items: center;
    }
}




/* Social Auth Componentts */
.google_auth,
.twitter_auth {
    background-color: transparent;
    border-radius: 5px;
    border: 1.5px solid rgb(182, 182, 182);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social_auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    >* {
        margin: 10px 0px;
    }

    span {
        position: absolute;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 2%;

        img {
            height: 30%;
        }
    }

    p,
    a {
        color: $DarkGrey;
        font-weight: 500;
        font-size: 14px;
        margin: 0 auto;
        text-decoration: none;
        padding-left: 5px;
    }
}


/* Section  */


.section_heading {
    height: fit-content;
}

.section_para {
    height: fit-content;
}


.section_image {
    display: flex;
    justify-content: center;

    img {
        height: 80%;
        width: 80%;
    }
}