// Form Container
.form_container {
    width: 100%;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: flex;
    flex-direction: column;
}

form.auth_form {
    width: 100%;
    display: grid;
    grid-auto-rows: 10px 60px;
    gap: 20px;
    margin-bottom: 10px;



    label {
        font-weight: 500;
        color: rgb(200, 200, 200);
        margin-bottom: 10px;
        padding-left: 10px;
        font-size: 1.1em;
    }

    input {
        height: 100%;
        width: 100%;
        color: $DarkGrey;
        background-color: transparent;
        border: none;
        border-bottom: 1.3px solid rgb(210, 210, 210);
        width: 100%;
    }

    input[type=text],
    input[type=password] {
        font-size: 16px;
        padding-left: 10px;
    }

    input.error {
        border-bottom: 1px solid rgb(255, 0, 0);
    }

    input[type=submit] {
        background-color: $Blue;
        color: $BackgroundColor;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 100%;

        @include tablet {
            align-self: center;
        }
    }

    input::placeholder {
        color: rgb(150, 150, 150);
        font-size: 16px;
    }
}

span.error {
    color: red;
    font-size: 1em;
    font-weight: 600;
}

span.or {
    margin: 10px auto !important
}

////////////////* Register Page*///////////////
.register {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;


    @include smalldesktop {
        grid-template-columns: 60% 40%;
    }

    @include tablet {
        grid-template-columns: 1fr;
    }

    p {
        a {
            color: $Blue;
            font-weight: 500;
        }
    }
}

.reg_container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 45%;
    margin: 0 auto;

    .form_container {
        >* {
            margin: 5px 0px;
        }
    }

    h2 {
        font-size: 2em;
    }

    @include desktop {
        width: 70%;
    }

    @include smalldesktop {
        width: 60%;
    }

    @include mobilelarge {
        width: 90%;
    }
}

.register_image {
    width: 100%;
    height: 100%;
    background-color: #1C30B0;
    display: flex;
    flex-direction: column;


    @include tablet {
        display: none;
    }

    .heading {
        padding-left: 20px;
        padding-top: 100px;

        h3 {
            color: white;
        }
    }
}

.register_content {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        color: white;
        padding-top: 20px;


        @include smalldesktop {
            line-height: 32px;
        }
    }

    img {
        @include smalldesktop {
            display: none;
        }

    }
}

.register_social {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

/////////////// Login //////////////////////

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    p {
        a {
            color: $Blue;
            font-weight: 500;
        }
    }
}


.log_left {
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include tablet {
        width: 100%;
    }


    @include mobilelarge {
        width: 100%;
    }
}



.login_container {
    width: 40%;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: flex;
    align-items: center;
    height: 100%;

    @include tablet {
        width: 60%;
    }


    @include mobilelarge {
        width: 90%;
    }

    a,
    h2,
    p,
    .login_submit,
    .social_auth {
        margin-left: 10px;
    }

    .login_header {
        padding-bottom: 10px;

        svg {
            margin-bottom: 10px;
        }
    }




    .form_container {
        height: 700px;
    }

    h2 {
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        letter-spacing: 0;
    }

    p {
        font-weight: 400;
        padding-bottom: 10px;
    }

    span {
        color: #2962FF;
        font-weight: 600;
    }

    .social_auth {
        flex-direction: column;
        align-items: center;
    }
}

.log_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C30B0;

    @include tablet {
        display: none;

    }

    svg {
        width: 100%;
    }
}






/* Social Auth Componentts */
.google_auth,
.twitter_auth {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgb(190, 190, 190);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        padding: 0;
        margin: 0;
    }
}

.social_auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    >* {
        margin: 10px 0px;
    }

    span {
        position: absolute;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 2%;

        img {
            height: 30%;
        }
    }

    p,
    a {
        color: $DarkGrey;
        font-weight: 500;
        font-size: 14px;
        margin: 0 auto;
        text-decoration: none;
        padding-left: 5px;
    }
}


/* Section  */


.section_heading {
    height: fit-content;
}

.section_para {
    height: fit-content;
}


.section_image {
    display: flex;
    justify-content: center;

    img {
        height: 80%;
        width: 80%;
    }
}